{% load static %}
<!DOCTYPE html>
<html>
    

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: right;">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <ul>
      <li><a href="{% url 'uni:page' student.id %}">خانه</a></li>
      <li><a href="#contact">مخاطبان</a></li>
      <li><a href="#about">درباره</a></li>
    </ul>
    
  <form id = "dem"class="modal-content animate" method="post">{% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('dem').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>
    
    <div style="text-align: right;" class="container">
      <!-- <label for="uname"><b>Username</b></label> -->
      <!-- <input id = "usernamee" type="text" placeholder="Enter Username" name="uname" value="awmxr"> -->
      
      <h2 style="text-align: right; " >نام : {{ student.name  }} <br> 
        نام خانوادگی : {{ student.last_name  }} <br> نام پدر  : {{ student.father_name }} <br>
        شماره دانشجویی : {{ student.username }} <br> کد ملی : {{ student.melli_code }} <br>
        تلفن همراه : {{ student.phone }} <br> دانشگاه : {{ student.uni }} <br> دانشکده : {{ student.College }} <br>
        رشته تحصیلی : {{ student.field }} <br> ورودی : {{ student.enter_year }} <br>
        
        
        
   </h2> 
      

      <!-- <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <button style="background-color: #b30e0e; font-size: large;" type="submit">ویرایش</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: left;">
       <a href="{% url 'uni:page' student.id %}"> <button type="button" style="text-align: right;" onclick="document.getElementById('dem').style.display='none'" class="cancelbtn">لغو</button></a>
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
