{% load static %}
<!DOCTYPE html>
<html>
    

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: left;">

    
    <ul>
        <li><a href="{% url 'uni:page2' admin.id%}">خانه</a></li>  
        <li><a href="{% url 'uni:students' admin.id %}">دانشجویان</a></li>
        <li><a href="{% url 'uni:changepass2' admin.id %}">تغیر رمز عبور</a></li>
        <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
      </ul>




    <div class="w3-container w3-dark-grey">        
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <h2 style="text-align: right; " >{{ admin.name  }} {{  admin.last_name  }}</h2> 
  </div>
    
  <form  id = "dem"class="modal-content animate" method="post" style="width: 1300px;">{% csrf_token %}
    <div class="imgcontainer">
        <a href=" {% url 'uni:page2' admin.id %} "><span  class="close" title="Close Modal">&times;</span></a>
        <div style="text-align: left;background-color:#f1f1f1" class="container">
        <button name = 'erae' value='back' type="submit" style="text-align: right; width: 50px;"  >قبلی</button>
      </div>
      <br>
      <br>
    </div>
    <h3 style="text-align: center;">با توجه به واحد های درس مربوطه،تعداد زمان برای اراعه در هفته مشخص کنید</h3>
    <!-- {{list10}}
    {{list1}}
    {{kj}}
    {{dic}}
    {% if 11 in dic %}
    {{dic.11}}
    {% endif %}
    {{dic.11}}
    {{klas_id}}
    {%if 11 in dic and dic.11 == 0%}
    {yessssssssss}
    {%endif%} -->
    <!-- {{ dic|get_item:11}} -->
    {{dic}}
    <!-- {{list10}}
    {{list1}}
    {{list2}}
    {{bv}}
    {{bv2}} -->
    {{bv}}
    <div style="text-align: right;" class="container">
      <!-- <label for="uname"><b>Username</b></label> -->
      <!-- <input id = "usernamee" type="text" placeholder="Enter Username" name="uname" value="awmxr"> -->
      
      <table>
        <tr>
          <th>چهارشنبه</th>
          <th>سه شنبه</th>
          <th>دوشنبه</th>
          <th>یکشنبه</th>
          <th>شنبه</th>
          <th>ساعات</th>
        </tr>
        {% for i in list8 %}
        {% if i == 0 %}
        <tr>
        {%for j in list3%}
        
        {%if j in dic and klas_id == dic|get_item:j %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{j}}</td>
        {%elif j in list1 %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {% else %}
        <td><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {%endif%}
        
        {%endfor%}
        <td>8-10</td>
    </tr>
        {%endif%}
        {% if i == 1 %}
        <tr>
        {%for j in list4%}
        
        {%if j in dic and klas_id == dic|get_item:j %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{j}}</td>
        {%elif j in list1 %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {% else %}
        <td><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {%endif%}
        
        {%endfor%}
        <td>10-12</td>
    </tr>
        {%endif%}
        {% if i == 2 %}
        <tr>
        {%for j in list5%}
        
        {%if j in dic and klas_id == dic|get_item:j %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{j}}</td>
        {%elif j in list1 %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {% else %}
        <td><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {%endif%}
        
        {%endfor%}
        <td>13-15</td>
    </tr>
        {%endif%}
        {% if i == 3 %}
        <tr>
        {%for j in list6%}
        
        {%if j in dic and klas_id == dic|get_item:j %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{j}}</td>
        {%elif j in list1 %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {% else %}
        <td><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {%endif%}
        
        {%endfor%}
        <td>15-17</td>
    </tr>
        {%endif%}
        {% if i == 4 %}
        <tr>
        {%for j in list7%}
        
        {%if j in dic and klas_id == dic|get_item:j %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{j}}</td>
        {%elif j in list1 %}
        <td><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {% else %}
        <td><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{j}}</td>
        {%endif%}
        
        {%endfor%}
        <td>17-19</td>
    </tr>
        {%endif%}
        {% endfor %}
        

      </table>
      
      
      {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
      
      

      <!-- <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <button name = 'erae' value='yes' style="background-color: #333333; font-size: large;" type="submit">تایید</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: left;">
        <a href="{% url 'uni:page2' admin.id %}"><button type="button" style="text-align: right;"  class="cancelbtn">لغو</button></a>
        
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>
<form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
  {% csrf_token %}
  <input type="hidden">
  </form>
</html>
