{% load static %}
<link rel="icon" href="{% static 'uni/images/13.png' %}">
<!DOCTYPE html>
<html>
    

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: right;">

    
    <ul>
      <li><a href="{% url 'uni:page2' admin.id %}">Home</a></li>
      <li><a href="{% url 'uni:students' admin.id %}">Students</a></li>
      <li><a href="{% url 'uni:create' admin.id %}">New Student</a></li>
      <li><a href="{% url 'uni:create2' admin.id %}">New Professor</a></li>
      <li><a href="{% url 'uni:barname1' admin.id  %}">Professors' Schedule</a></li>
      <li><a href="{% url 'uni:barname3' admin.id  %}">Rejected Schedules</a></li>
      <li><a href="{% url 'uni:vahed' admin.id  %}">Available Courses</a></li>
      <li><a href="{% url 'uni:ejaze' admin.id  %}">Unit Selection Permission</a></li>
      <li><a href="{% url 'uni:darkhast2' admin.id  %}">Course Delete Requests</a></li>

      <li><a href="{% url 'uni:createklass' admin.id %}">Add Class</a></li>


      <li><a href="{% url 'uni:changepass2' admin.id %}">Change Password</a></li>
      
      <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">Exit</button></a>
      </ul>




    <div class="w3-container w3-dark-grey">        
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <h2 style="text-align: left; " >{{ admin.name  }} {{  admin.last_name  }}</h2> 
  </div>
    
  <form  id = "dem"class="modal-content animate" method="post" style="width: 1300px;">{% csrf_token %}
    <div class="imgcontainer">
        <a href=" {% url 'uni:page2' admin.id %} "><span  class="close" title="Close Modal">&times;</span></a>
        <div style="text-align: left;background-color:#f1f1f1" class="container">
        <button name = 'erae' value='back' type="submit" style="text-align: right; width: 70px;"  >Back</button>
      </div>
      <br>
      <br>
    </div>
    <h3 style="text-align: center;">Specify Your Presentations Per Week According To The Relevant Course Units</h3>
    <div style="text-align: right;" class="container">
      <!-- <label for="uname"><b>Username</b></label> -->
      <!-- <input id = "usernamee" type="text" placeholder="Enter Username" name="uname" value="awmxr"> -->
      
      <table>
        <tr>
          <th style="text-align: center;">Wednesday</th>
          <th style="text-align: center;">Tuesday</th>
          <th style="text-align: center;">Monday</th>
          <th style="text-align: center;">Sunday</th>
          <th style="text-align: center;">Saturday</th>
          <th style="text-align: center;">Times</th>
        </tr>
        {% for i in list8 %}
        {% if i == 0 %}
        <tr>
        {%for j in list3%}
        
        {%if j in checklist %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{ j }}</td>
        {%elif j in list1 %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {% else %}
        <td style="text-align: center;"><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {%endif%}
        
        {%endfor%}
        <td style="text-align: center;">8-10</td>
    </tr>
        {%endif%}
        {% if i == 1 %}
        <tr>
        {%for j in list4%}
        
        {%if j in checklist %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{ j }}</td>
        {%elif j in list1 %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {% else %}
        <td style="text-align: center;"><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {%endif%}
        
        {%endfor%}
        <td style="text-align: center;">10-12</td>
    </tr>
        {%endif%}
        {% if i == 2 %}
        <tr>
        {%for j in list5%}
        
        {%if j in checklist %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{ j }}</td>
        {%elif j in list1 %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {% else %}
        <td style="text-align: center;"><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {%endif%}
        
        {%endfor%}
        <td style="text-align: center;">13-15</td>
    </tr>
        {%endif%}
        {% if i == 3 %}
        <tr>
        {%for j in list6%}
        
        {%if j in checklist %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{ j }}</td>
        {%elif j in list1 %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {% else %}
        <td style="text-align: center;"><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {%endif%}
        
        {%endfor%}
        <td style="text-align: center;">15-17</td>
    </tr>
        {%endif%}
        {% if i == 4 %}
        <tr>
        {%for j in list7%}
        
        {%if j in checklist %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass' checked>{{ j }}</td>
        {%elif j in list1 %}
        <td style="text-align: center;"><input type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {% else %}
        <td style="text-align: center;"><input disabled type="checkbox" value="{{ j }}" name = 'timeclass'>{{ j }}</td>
        {%endif%}
        
        {%endfor%}
        <td style="text-align: center;">17-19</td>
    </tr>
        {%endif%}
        {% endfor %}
        

      </table>
      
      
      {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
      
      

      <!-- <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <button name = 'erae' value='yes' style="background-color: #333333; font-size: large;" type="submit">Confirm</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: right;">
        <a href="{% url 'uni:page2' admin.id %}"><button type="button" style="text-align: right;"  class="cancelbtn">Cancel</button></a>
        
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>
<form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
  {% csrf_token %}
  <input type="hidden">
  </form>
</html>
