{% load static %}
<link rel="icon" href="{% static 'uni/images/13.png' %}">
<!DOCTYPE html>
<html>
    

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: left;">

    
    <ul>
        <li><a href="{% url 'uni:home' %}">Home</a></li>
      <li><a href="{% url 'uni:login' lang %}">Login</a></li>
      <li><a href="#contact">Contacs</a></li>
      <li><a href="#about">About</a></li>
    </ul>




    
  <form  id = "dem"class="modal-content animate" method="post" style="width: 650px;">{% csrf_token %}
    <div class="imgcontainer">
      <a href=" {% url 'uni:home' %} "><span  class="close" title="Close Modal">&times;</span></a>
      <br>
      <br>
    </div>

    <div style="text-align: right;" class="container">
    <h1 style="text-align: right; color:green" > {{ message }} </h1>
  </div>
    <div style="text-align: right;" class="container">
      {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
      
      <div>
        <!-- <button name = 'erae' value='yes' style="background-color: #06af22; font-size: large;" type="submit"> تایید</button> -->
    </div>
      
      
        
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: left;">
        <a href=" {% url 'uni:home'%} "><button style="background-color: #06af22; font-size: large;" type="button">  تایید </button></a>
        
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>

<form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
  {% csrf_token %}
  <input type="hidden">
  </form>
</html>
