{% load static %}
<html>
    <body>
        <ul>
            <li><a href="{% url 'uni:page' student.id %}">خانه</a></li>
            
            <li><a href="{% url 'uni:aboutS' student.id %}">اطلاعات دانشجو</a></li>
            <li><a href="{% url 'uni:students2' student.id %}">دانشجویان</a></li>
            <li><a href=" {% url 'uni:entekhab' student.id %} ">دروس ارائه شده</a></li>
            <li><a href=" {% url 'uni:entekhab2' student.id %} ">انتخاب واحد</a></li>
            <li><a href=" {% url 'uni:mydars' student.id %} ">درس های من</a></li>
            <li><a href=" {% url 'uni:karname' student.id %} ">مشاهده کارنامه</a></li>
            <li><a href=" {% url 'uni:darkhast4' student.id %} ">درخواست های من</a></li>
            
            <li><a href="{% url 'uni:changepass' student.id %}">تغیر رمز عبور</a></li>
            <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
          </ul>
    
        <link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-container w3-dark-grey">
            
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <h2 style="text-align: right; " >{{ student.name  }} {{  student.last_name  }}</h2> 
            

            
        </div>
    </body>


    <form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
        {% csrf_token %}
        <input type="hidden">
        </form>











</html>

