{% load static %}
<html>
    <body>
        
    
        <ul>
            <li><a href="{% url 'uni:page2' admin.id %}">خانه</a></li>
            <li><a href="#contact">مخاطبان</a></li>
            <li><a href="{% url 'uni:create' admin.id %}">دانشجوی جدید</a></li>
            <li><a href="{% url 'uni:changepass2' admin.id %}">تغیر رمز عبور</a></li>
            <a href="{% url 'uni:home' %}"><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
            <input  style="text-align-last: right;" type="search" placeholder="جست و جو " aria-label="Search" name="search" >
        </ul>

        <link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-container w3-dark-grey">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <h2 style="text-align: right;" >{{ admin.name  }} {{  admin.last_name  }}</h2> 
        </div>
        
        <!-- {% if messages %}
        <ul style="color: aliceblue ;background-color: rgb(8, 148, 78);" class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->
    </body>

</html>

