{% load static %}
<html>
    <body>
        <ul>
            <li><a href="{% url 'uni:page3' ostad.id %}">خانه</a></li>
            
            <li><a href="{% url 'uni:elam' ostad.id %}">اعلام برنامه ترم</a></li>
            <li><a href="{% url 'uni:students3' ostad.id %}">دانشجویان</a></li>
            <li><a href="{% url 'uni:changepass4' ostad.id %}">تغیر رمز عبور</a></li>
            <a href="{% url 'uni:home' %}"><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
            
          </ul>
    
        <link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-container w3-dark-grey">
            
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <h2 style="text-align: right; " >{{ ostad.name  }} {{  ostad.last_name  }}</h2> 
            

            
        </div>
    </body>

</html>

