{% load static %}
<html>
    <body>
        <ul>
            <li><a href="{% url 'uni:page' student.id %}">خانه</a></li>
            
            
            <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
          </ul>
    
        <link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-container w3-dark-grey">
            
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <h2 style="text-align: right; " >{{ student2.name  }} {{  student2.last_name  }}</h2> 
            {% if messages %}
        <ul style="color: aliceblue ;background-color: rgb(8, 148, 78);" class="messages">
            {% for message in messages %}
            <h2>  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>  {{ message }}</li></h2>
            {% endfor %}
        </ul>
            {% endif %}
            

            
        </div>
        <form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
            {% csrf_token %}
            <input type="hidden">
            </form>
    </body>











</html>

