{% load static %}
<link rel="icon" href="{% static 'uni/images/13.png' %}">
<!DOCTYPE html>
<html>
    

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: right;">

    
    <ul>
        <li><a href="{% url 'uni:page2' admin.id %}">Home</a></li>
            
        <li><a href="{% url 'uni:aboutS2' admin.id  student.id %}">Student Informations</a></li>
        
        <li><a href="{% url 'uni:changepass3' admin.id  student.id %}">Change Student's Password</a></li>
      <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">Exit</button></a>
    </ul>




    <div class="w3-container w3-dark-grey">        
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <h2 style="text-align: left; " >{{ student.name  }} {{  student.last_name  }}</h2> 
  </div>
    
  <form  id = "dem"class="modal-content animate" method="post" style="width: 1300px;">{% csrf_token %}
    <div class="imgcontainer">
      <a href=" {% url 'uni:student1' admin.id student.id %} "><span  class="close" title="Close Modal">&times;</span></a>
      <br>
      <br>
    </div>
    
    <div style="text-align: left;" class="container">
      <!-- <label for="uname"><b>Username</b></label> -->
      <!-- <input id = "usernamee" type="text" placeholder="Enter Username" name="uname" value="awmxr"> -->
      <h1 style="text-align: center;">Courses of {{ student.name }} {{ student.last_name }}</h1>
      
      <br>
      <table>
          
        <tr>
            
            <th style="text-align: center;">Gender</th>
            <th style="text-align: center;">Capacity</th>
            <th style="text-align: center;">Exam Date & Time</th>
            <th style="text-align: center;">Classes & Days</th>
          <th style="text-align: center;">Professor</th>
          <th style="text-align: center;">Course Code</th>
          <th style="text-align: center;">Group</th>
          <th style="text-align: center;">Unit</th>
          <th style="text-align: center;">Course</th>
        </tr>
        {% for i in vaheds %}

        <tr>
            
            <th style="text-align: center;">{{i.6}}</th>
            <th style="text-align: center;">{{i.0.capacity}}</th>
            <th style="text-align: center;">{{i.3}} <br> {{i.4}}</th>
            
            <th style="text-align: center;">{% for j in i.2 %}
                
                {{j}} {{i.1|get_item:j}} <br>
                {%endfor%}
            </th>
            
            <th style="text-align: center;">{{i.0.ostad}}</th>
            <th style="text-align: center;">{{i.0.dars_code}}</th>
            <th style="text-align: center;">{{i.0.goruh}}</th>
            <th style="text-align: center;">{{i.0.vahed2}}</th>
            <th style="text-align: center;">{{i.5}}</th>
            
          </tr>




        {% endfor %}
        

      </table>
      
      
      {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
      
      

      <!-- <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: right;">
        <a href="{% url 'uni:student1' admin.id  student.id %}"><button type="button" style="text-align: left;"  class="cancelbtn">Cancel</button></a>
        
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>

<form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
  {% csrf_token %}
  <input type="hidden">
  </form>
</html>
