{% load static %}
<!DOCTYPE html>
<html>
    

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'uni/style2.css' %}">
</head>
<body style="text-align: left;">

    
    <ul>
      <li><a href="{% url 'uni:page3' ostad.id%}">خانه</a></li>  
      <li><a href="{% url 'uni:students3' ostad.id %}">دانشجویان</a></li>
      <li><a href="{% url 'uni:changepass4' ostad.id %}">تغیر رمز عبور</a></li>
      <a  onClick="document.getElementById('logoutform').submit()" ><button class="cancelbtn"  style=" height: 54px;" type="button">خروج</button></a>
    </ul>




    <div class="w3-container w3-dark-grey">        
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <h2 style="text-align: right; " >{{ ostad.name  }} {{  ostad.last_name  }}</h2> 
  </div>
    
  <form  id = "dem"class="modal-content animate" method="post" style="width: 1300px;">{% csrf_token %}
    <div class="imgcontainer">
      <a href=" {% url 'uni:page3' ostad.id %} "><span  class="close" title="Close Modal">&times;</span></a>
      <br>
      <br>
    </div>
    
    <div style="text-align: right;" class="container">
      <!-- <label for="uname"><b>Username</b></label> -->
      <!-- <input id = "usernamee" type="text" placeholder="Enter Username" name="uname" value="awmxr"> -->
      {%if shart == 0 %}
      <table>
        <tr>
        <th style="text-align: center;">ظرفیت باقی مانده</th>    
        <th style="text-align: center;">ظرفیت کل</th>
        <th style="text-align: center;">گروه</th>
          <th style="text-align: center;">کد درس</th>
          <th style="text-align: center;">دانشکده</th>
          <th style="text-align: center;">دانشگاه</th>
          <th style="text-align: center;">درس</th>
        </tr>
        

        <tr>
            
            <th style="text-align: center;">{{vahed.capacity2}}</th>
            <th style="text-align: center;">{{vahed.capacity}}</th>
            <th style="text-align: center;">{{vahed.goruh}}</th>
            <th style="text-align: center;">{{vahed.dars_code}}</th>
            <th style="text-align: center;">{{vahed.college}}</th>
            <th style="text-align: center;">{{vahed.uni}}</th>
            <th style="text-align: center;">{{vahed.dars}}</th>
            
          </tr>
          
        <table>
          {% for j in dic2 %}
            <tr>
              <th><h3 style="text-align: right;">{{j}} {{dic2|get_item:j}}</h3></th>
            </tr>
            {% endfor %}
        </table>



        
        

      </table>
      {%elif shart == 1%}
      <h1>دانشگاه {{ elam.uni }} </h1>
      <h2>این درخواست توسط ادمین دانشکده {{elam.college}} رد شده است</h2>
      {%elif shart == 2%}
      <table>
      <tr>   
        <th style="text-align: center;">ظرفیت کل</th>
          <th style="text-align: center;">دانشکده</th>
          <th style="text-align: center;">دانشگاه</th>
          <th style="text-align: center;">درس</th>
        </tr>
        <tr>   
            <th style="text-align: center;">{{elam.capocity}}</th>
              <th style="text-align: center;">{{elam.college}}</th>
              <th style="text-align: center;">{{elam.uni}}</th>
              <th style="text-align: center;">{{elam.dars}}</th>
        </tr>
    </table>
<table>
        {% for i in list1 %}

        <tr>   
            <th style="text-align: center;">{{ i }}</th>
        </tr>

        {% endfor %}
    </table>
        <div>
            <button name = 'change' value='erae' style="background-color: #06af22; font-size: large;" type="submit"> ارائه درخواست</button>
        </div>
        {%elif shart == 3%}
        <table>
        <tr>   
            <th style="text-align: center;">ظرفیت کل</th>
              <th style="text-align: center;">دانشکده</th>
              <th style="text-align: center;">دانشگاه</th>
              <th style="text-align: center;">درس</th>
            </tr>
            <tr>   
                <th style="text-align: center;">{{elam.capacity}}</th>
                  <th style="text-align: center;">{{elam.college}}</th>
                  <th style="text-align: center;">{{elam.uni}}</th>
                  <th style="text-align: center;">{{elam.dars}}</th>
            </tr>

            <table>
            {% for i in list1 %}
    
            <tr>   
                <th style="text-align: center;">{{ i }}</th>
            </tr>
        
            {% endfor %}
        </table>
        </table>
            <div>
                <a href=""><button name = 'change' value = 'vir' style="background-color: #1c66f0; font-size: large;" type="submit" > ویرایش</button></a>
                <button name = 'change' value = 'cancel' style="background-color: #ff3c00; font-size: large;" type="submit" > لغو درخواست</button>
            </div>
        {%endif%}

      
    
      
      {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
      
      

      <!-- <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div style="text-align: left;">
        <a href="{% url 'uni:page3' ostad.id %}"><button type="button" style="text-align: right;"  class="cancelbtn">لغو</button></a>
        
      </div>
    </div>

  </form>


<script>
// Get the modal
username = document.getElementsById("usernamee").value
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>

<form id="logoutform" method="POST" action="{% url 'uni:logout' %}">
  {% csrf_token %}
  <input type="hidden">
  </form>
</html>
